body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #08680b;
}

.my_musicPlayer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.my_musicPlayer .left_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
}
.my_musicPlayer .left_box .box {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4588235294);
  padding: 11% 10% 10% 10%;
  border-radius: 15px;
}
.my_musicPlayer .left_box .box .animation {
  display: none;
  overflow: visible;
  height: 70px;
  position: absolute;
  top: 180px;
}
.my_musicPlayer .left_box .box .animation .loader {
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.my_musicPlayer .left_box .box .animation .loader .stroke {
  display: block;
  position: relative;
  background: #f1f1f1;
  height: 100%;
  width: 10px;
  border-radius: 50px;
  margin: 7px;
  animation: animate 1.2s linear infinite;
}
.my_musicPlayer .left_box .box .animation .loader .stroke:nth-child(1) {
  animation-delay: 0s;
}
.my_musicPlayer .left_box .box .animation .loader .stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.my_musicPlayer .left_box .box .animation .loader .stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.my_musicPlayer .left_box .box .animation .loader .stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.my_musicPlayer .left_box .box .animation .loader .stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.my_musicPlayer .left_box .box .animation .loader .stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.my_musicPlayer .left_box .box .animation .loader .stroke:nth-child(7) {
  animation-delay: 0.1s;
}
.my_musicPlayer .left_box .box .animation img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.my_musicPlayer .left_box .box .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.my_musicPlayer .left_box .box .info h3 {
  font-size: 32px;
  margin-bottom: 0;
}
.my_musicPlayer .left_box .box .info p {
  font-size: 25px;
  font-weight: 600;
}
.my_musicPlayer .left_box .box .function {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my_musicPlayer .left_box .box .function .stock {
  display: flex;
  align-items: center;
  margin: 15px;
}
.my_musicPlayer .left_box .box .function .sound {
  display: flex;
  align-items: center;
  gap: 5px;
}
.my_musicPlayer .left_box .box .function .controls {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.my_musicPlayer .left_box .box .function .controls .active::before {
  color: #fff;
}
.my_musicPlayer .left_box .box .function .controls .active {
  background-color: #05a908;
}
.my_musicPlayer .left_box .box .function .controls button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #08920a;
}
.my_musicPlayer .left_box .box .function .controls button::before {
  color: #05a908;
}
.my_musicPlayer .right_box {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.655);
  overflow-y: scroll;
  border-radius: 15px;
}
.my_musicPlayer .right_box::-webkit-scrollbar {
  width: 0;
}
.my_musicPlayer .right_box .music_list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 200px;
}
.my_musicPlayer .right_box .music_list ul .active {
  background-color: #05a908;
  color: #fff;
}
.my_musicPlayer .right_box .music_list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 0 15px;
  border-radius: 20px;
  background-color: #c8c2c2;
}
.my_musicPlayer .right_box .music_list ul li button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #08680b;
  border: 1px solid #08680b;
}
.my_musicPlayer .right_box .music_list ul li .info {
  display: flex;
  width: 250px;
  justify-content: space-between;
}
.my_musicPlayer .right_box .music_list ul li .info p {
  text-align: end;
}
.my_musicPlayer .openList {
  position: absolute;
  top: 10%;
  right: 13%;
  display: none;
}
.my_musicPlayer .openList i {
  color: #0d4605;
}

@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .my_musicPlayer .right_box {
    display: none;
    top: 5%;
  }
  .my_musicPlayer .right_box .music_list ul {
    margin-top: 0;
  }
  .my_musicPlayer .openList {
    display: block;
  }
  .my_musicPlayer .left_box {
    width: 80%;
    height: 90%;
  }
  .my_musicPlayer .left_box .info {
    display: none;
  }
  .my_musicPlayer .left_box .box {
    justify-content: end;
  }
  .my_musicPlayer .showList {
    display: block;
    position: absolute;
    height: 45%;
    width: 75%;
    margin: 0;
    padding: 20px;
    top: 7%;
    background-color: #f1f1f1;
  }
}
#stock, #volume {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 20px;
  height: 6px;
  background: #ccc;
}

#stock::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 30px;
  background: transparent;
  background-image: url("/image/music.png");
  background-size: cover;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transform: rotateZ(var(--thumb-rotate, 0deg));
}

/* Thumb: Firefox */
#stock::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background: transparent;
  background-image: url("/image/music.png");
  background-size: cover;
  border: none;
  border-radius: 50%;
  transform: rotateZ(var(--thumb-rotate, 0deg));
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 25px;
  background: transparent;
  background-image: url("/image/wave.jpg");
  background-size: cover;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transform: rotateZ(var(--thumb-rotate, 0deg));
}

/* Thumb: Firefox */
#volume::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background: transparent;
  background-image: url("/image/wave.jpg");
  background-size: cover;
  border: none;
  border-radius: 50%;
  transform: rotateZ(var(--thumb-rotate, 0deg));
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=style.css.map */